@{
}

<h1>Form to edit post</h1>
<form action="~/Post/Update/@ViewBag.Item.id" method="post">
    <input type="text" name="content" required="" autofocus="" value="@ViewBag.Item.content" />

    <input type="submit" />
</form>