@{
    ViewData["Title"] = "Home Page";
}

<h1>List all posts</h1>

<ul>
    @foreach (var post in ViewBag.Posts)
    {
        <p><a href="~/Post/Read/@post.id">@post.content</a></p>
    }
</ul>