@{
    ViewData["Title"] = "Sign In";
}
<h1>Form for signing in existing user</h1>
<form action="User/SignIn" method="post">
    <input type="text" name="username" required="" autofocus="" placeholder="username" />
    <input type="password" name="password" required="" placeholder="password" />
    <input type="submit" />
</form>